*,
html {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(253, 211, 239);
}

.container-navbar {
  background-color: rgb(242, 232, 250);
  width: 100%;
  height: 10vh;
}

.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style-type: none;
  padding: 15px;
  margin: 5px;
  font-size: 30px;
}

.li-navbar:hover{
  background-color:rgb(233, 175, 233);
  transition: .5s ease-in-out;  
  transition-delay: .3s;
  border-radius: 8px;
}

.a-navbar {
  color: black;
  text-decoration: none;
}

.container-content {
  background-color: rgb(243, 224, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.a-content {
    background-color: rgb(231, 181, 212);
    color:black;
    text-decoration: none;
    width: 620px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img-content {
  width: 35%;
  height: 51%
}

.container-footer {
  height: 10vh;
  background-color: rgb(255, 180, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-footer {
  font-size: 40px;
}